@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}
